/* COMPONENT */
.shadow {
    background-color: white;
    box-shadow: 4px 4px 16px #E1E1E1, -2px -2px 16px #FFF;
}

/* CARD */
.activity__card {
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.activity__card .collapse {
    transition: border-color 0.2s ease-in-out;
}

.activity__time {
    display: flex;
    align-items: center;
    justify-content: center;
}

.handle {
    transition: border-bottom 0.2s ease-in-out;
}

.edit, .delete {
    padding-inline: 5px;
    padding-block: 1px;
}

.activity__entity {
    opacity: 1;
    -webkit-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}

.activity__empty {
    opacity: 0;
    -webkit-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}

/* CHOSEN ITEM */
.sortable-chosen {
    opacity: 1;
}

.sortable-drag {
    opacity: 0;
}

.selected .activity__card, .sortable-chosen .activity__card {
    border-color: var(--bs-primary) !important;
    background-color: var(--bs-primary-bg-subtle) !important;
}